:root {
    --primary: #149998;
    --titleText: #2C3E50;
    --simpleText: #3E4D5C;
    --dimmedText: #737373;
    --darkText: #27272E;
    --tableHeading: #1F2D3D;
    --bg-primary: #F7FAFC;
    --bg-light: rgba(20, 153, 152, 0.1);
    --bg-input: #F9F9F9;
    --error: red;
}
