.authTabs {
    width: 100%;
    max-width: 283px;
    border: 1px solid #EBEFF4;
    background: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 56px;

    @media(max-width: 700px) {
        margin-bottom: 36px;
        border-radius: 20px;
    }
}

.tab {
    width: 50%;
    color: var(--dimmedText);
    padding: 14px 0;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14.4px;
    line-height: 116%;
    text-align: center;

    &.active {
        background: var(--primary);
        color: #FFFFFF;
    }

    @media(max-width: 700px) {
        padding: 10px 0;
        border-radius: 20px;
    }
}