.arrow {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #ffffff;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;

    & img {
        width: 100%;
        max-width: 8px;
    }
}

.nextArrow {
    @extend .arrow;
    right: 10%;
}

.prevArrow {
    @extend .arrow;
    left: 10%;
}

.carouselContainer {
}

.slideContainer {
    height: 397px;

    & img {
        height: 397px;
        width: 100%;
        object-fit: cover;
    }
}

.slick-track {
    display: flex;

    .slick-slide {
        height: auto;
        display: flex;

        > div {
            display: flex;
        }
    }
}
