.slick-track {
    display: flex;
}

.slick-track .slick-slide {
    height: auto;
    display: flex;
}

.slick-track .slick-slide>div {
    width: 100%;
    display: flex;
    justify-content: center;
}